@charset "UTF-8";
body {
	width:75%;
	margin: 0 auto;
	background:url(../media/vertical.png) repeat-x #f7d7d7;
	font-family:Calibri, Arial, Tahoma, Helvetica, sans-serif;
}

header	{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background:url(../media/vertical.png) repeat-x;
	color:#ffffff;
	padding:10px;
}

h1	{
	font-size:150%
}

h2	{
	font-size:130%;
}

nav	{
	float:left;
	background:url(../media/vertical.png) repeat-x;
}

nav ul	{
	list-style-type:none;
	padding:0;	
	font-family:Tahoma, Helvetica, Arial, sans-serif;
}

nav li	{
	float:left;
}

nav a	{
	display:block;
/*	width: 120px; */
	color: #6A0203;
	text-decoration:none;
	background-color:#f7d7d7;
	padding: 4px 12px 5px 10px;
	border-left: solid thin #671314;
	border-top:solid thin #671314;
	border-right:solid thin #671314;
	margin: 0 4px 0 0;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:large;
}

nav a:hover	{
	color:#f7d7d7;
	text-decoration:none;
	background-color:#671314;
	border-left: solid thin #f7d7d7;
	border-top:solid thin #f7d7d7;
	border-right:solid thin #f7d7d7;
}

.current	{
	border-bottom: solid thin #f7d7d7;
}

footer{
	text-align:right;
	font-size:90%;
	color: #6A0203;
	padding: 0 0 20px 0;
	border-top:solid thin #000000;
}

#main	{
	clear: both;
	padding: 10px;
	background-color: #f7d7d7;
	border-left: thin solid #671314;
	border-right: thin solid #671314;
	border-bottom: thin solid #671314;
}

.listhead{
	margin-bottom:-15px;
}

#continue	{
	margin:0px auto;
	padding: 8px;
	background: url(../media/vertical.png) repeat-x;
	color: #ffffff;
	max-width: 25%;
	text-align: center;
	font-size:110%;
}

#continue a	{
	color:#ffffff;
	text-decoration: underline;
}

section a	{
	color:#000000;
}

section a:hover	{
	color:#f7d7d7;
	background-color: #671314;
}