@charset "utf-8";
body	{
	background: #165F00;
	background-image:url('../../images/Binary_Code.jpg');
	color:#F0F0F0;
	font-family:Calibri, Helvetica, Arial, sans-serif;
	background-attachment:fixed;
	background-position:center; 
	}

p, li	{
	line-height: 115%;
}

h1	{
	font-size:200%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-variant:small-caps;
}

h2	{
	font-size:120%;
}

h3	{
	font-size:110%;
	font-style: italic;
}

ul	{
	margin:-14px 0 0 0;
}

th	{
	padding: 12px 0 0 0;
}

td	{
	padding: 0px 6px 3px 6px;
	width: 198px;
	valign:top;
	border-bottom: thin solid #AFAFAF;
}

#main	{
/*	margin: -45px auto 50px auto;*/
	margin: 0 auto;
	width:900px;
	border:thick solid #ffffff;
	padding: 15px 10px 10px 0px;
	background: #165F00;
}

header	{
	height:150px;
	padding:15px 0px;
}

section	{
	background:#edffe8;
	color:#003601;
	width:910px;
}

aside	{
	float:right;
	background:#003601;
	color:#F0F0F0;
	margin: 0px -10px 0px 0px;
	padding: 0px 8px 10px 8px;
	width:270px;
}

header img	{
	margin:0 5px 0 0;
}

.indent	{
	margin: 0 0 0 15px;
}

.colbord	{
	border-right: thin solid #AFAFAF;
}

a	{
	color:#F0F0F0;
}

a:hover	{
	background:#F0F0F0;
	color:#003601;
}

footer	{
	clear:both;
	padding: 8px;
}

section ul li	{
	list-style-image: url(../../images/checkmark_green.png);
}

.about	{
	text-align:right;
	font-size:80%;
	line-height:110%;
}
