@charset "utf-8";
/* CSS Document */

/* style based on Dynamic Drive: CSS Fixed Layout #2.1- (Fixed-Fixed) from http://www.dynamicdrive.com/style/layouts/item/css-fixed-layout-21-fixed-fixed/ */

body{
margin:0;
padding:0;
line-height: 1.3em;
background: url(../images/texturetile.png) fixed;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
color:#071576;
}

h1, h2, h3, h4 {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

h2 {
	margin-bottom:2px;
}

header {
	text-align:center;
}

footer a {
	color:#FFF;
}

#maincontainer{
width: 840px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
background: #bdd2ff;
}

header	{
	background: #bdd2ff;
	height: 145px; /*Height of top section*/
}

header h1{
	margin: 0;
	padding-top: 30px;
}

#content	{
	clear:both;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}

nav	{
	float:left;
	background-color:#fff;
	margin: 10px 5px 5px 5px;
}

section	{
	padding:5px 10px 10px 5px;
	background-color:#fff;
	float:right;
}

footer{
clear:both;
width: 100%;
background: #071576;
color: #FFF;
text-align: center;
padding: 4px 0;
}

.arrowblue{
	width: 180px; /*width of menu*/
	border-style: solid solid none solid;
	border-color: #94AA74;
	border-width: 1px;
}

.arrowblue ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	
.arrowblue li a{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	display: block;
	background: transparent url(../images/arrowblue.gif) 100% 0;
  height: 24px; /*Set to height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	padding: 4px 0 4px 10px;
	line-height: 24px; /*Set line-height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	text-decoration: none;
}	
	
.arrowblue li a:link, .arrowblue li a:visited {
	color: #071576;
}

.arrowblue li a:hover{
	color: #26370A;
	background-position: 100% -32px;
}

	
.arrowblue li.selected{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #000;
	padding-left: 3px;
	background-position: 100% -64px;
	font-size: 80%;	
	line-height: 35px;
}

#logo {
	float:left;
	margin:10px;
}

#field {
	position: relative;
	top:-50px;
	left:0;
	float:left;
	z-index:2; /*layer picture under navigation buttons*/
}
